<article class="media">
  <div class="media-left">
    <p class="image is-32x32">
      <%= image_tag "blank-profile-picture.jpg", alt: "Blank profile picture", class:"is-rounded" %>
    </p>
  </div>
  <div class="media-content">
    <div class="content">
      <%= simple_form_for([ @post, Comment.new ], defaults: { required: false }) do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        
        <div class="field has-addons">
          <div class="control is-expanded">
            <%= f.input :content, input_html: { class: "input" }, wrapper: false, placeholder: "Write a comment...", label: false %>
          </div>
          <div class="control">
            <%= f.submit ">", class: "button is-info" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>