<% comment.replies.each do |reply| %>
  <article class="media">
    <figure class="media-left">
      <figure class="image">
        <%= image_tag user_avatar(reply.user, 32), alt:"Profile picture", class:"is-rounded" %>
      </figure>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= reply.user.name %></strong>
          <br>
            <%= reply.content %>
          <br>
        </p>
      </div>

      <small>
        <nav class="level is-mobile">
          <div class="level-left">
            <% if reply.user_likes(current_user) %>
              <%= link_to [post, reply, reply.user_likes(current_user)], method: :delete, class: "level-item" do %>
                <span class="icon"><i class="fas fa-heart" aria-hidden="true"></i></span>
                <%= reply.likes.count %> <%= (reply.likes.count) == 1 ? 'Like' : 'Likes'%>
              <% end %>
            <% else %>
              <%= link_to post_comment_likes_path(post, reply, @like), method: :post, class: "level-item" do %>
                <span class="icon"><i class="far fa-heart" aria-hidden="true"></i></span>
                <%= reply.likes.count %> <%= (reply.likes.count) == 1 ? 'Like' : 'Likes'%>
              <% end %>
            <% end %>

            <div class="level-item">
              <% if reply.created_at > 1.day.ago %>
                <%= time_ago_in_words(reply.created_at) %> ago
              <% else %>
                <%= reply.created_at.strftime("%b %d at %H:%M %p") %>
              <% end %>
            </div>
          </div>
        </nav>
      </small>
    </div>
    <% if current_user == reply.user %>
      <div class="level-right small-gap">
        <%= link_to edit_post_comment_path(post, reply) , class: "level-item" do %>
          <span class="icon"><i class="fa fa-pencil-alt" aria-hidden="true"></i></span>
        <% end %>
        <%= link_to [post, reply], method: :delete, data: { confirm: "Are you sure you want to delete this comment?" } do %>
          <span class="icon"><i class="far fa-trash-alt" aria-hidden="true"></i></span>
        <% end %>
      </div>
    <% end %>
  </article>
<% end %>
