<article class="media">
  <div class="media-left">
    <figure class="image">
      <%= image_tag user_avatar(current_user), alt:"Profile picture", class:"is-rounded" %>
    </figure>
  </div>
  <div class="media-content">
    <div class="content">
      <%= simple_form_for([ @post, comment ], defaults: { required: false }) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :parent_id, value: comment.parent_id %>
        
        <div class="field has-addons">
          <div class="control is-expanded">
            <%= f.input :content, input_html: { class: "input" }, wrapper: false, placeholder: "Write a comment...", label: false, autofocus: true %>
          </div>
          <div class="control">
            <%= f.submit ">", class: "button is-info" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>