<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <% if @friend_requests.any? %>
          <% @friend_requests.each do |friend| %>
            <article class="panel is-warning">
              <p class="panel-heading">
                Friend requests
              </p>
              <div class="panel-block">
                <span class="panel-icon">
                  <figure class="image is-16x16">
                    <%= image_tag "blank-profile-picture.jpg", alt: "Blank profile picture", class:"is-rounded" %>
                  </figure>
                </span>
                <%= friend.name %>
                <%= link_to friendships_path(friend_id: friend), method: :post, class:"icon-text spaced has-text-primary" do %>
                  <span class="icon">
                    <i class="fas fa-user-plus" aria-hidden="true"></i>
                  </span>
                  <span>Accept request</span>
                <% end %>
                <%= link_to friend.friendship_request(current_user), method: :delete, class:"icon-text spaced has-text-danger" do %>
                  <span class="icon">
                    <i class="fas fa-user-minus" aria-hidden="true"></i>
                  </span>
                  <span>Decline request</span>
                <% end %>
              </div>  
            </article>
          <% end %>
        <% end %>
        <article class="panel is-primary">
          <p class="panel-heading">
            Add friends
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-primary" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          <% if @users.any? %>
            <% @users.each do |user| %>
              <div class="panel-block">
                <span class="panel-icon">
                  <figure class="image is-16x16">
                    <%= image_tag "blank-profile-picture.jpg", alt: "Blank profile picture", class:"is-rounded" %>
                  </figure>
                </span>
                <%= user.name %>

                <% if current_user.active_friends.include?(user) %>
                  <div class="icon-text spaced has-text-success">
                    <span class="icon">
                      <i class="fas fa-user-check" aria-hidden="true"></i>
                    </span>
                    <span>Your friend</span>
                  </div>
                <% elsif current_user.incoming_friend_requests.include?(user) %>
                  <%= link_to friendships_path(friend_id: user), method: :post, class:"icon-text spaced has-text-primary" do %>
                    <span class="icon">
                      <i class="fas fa-user-plus" aria-hidden="true"></i>
                    </span>
                    <span>Accept request</span>
                  <% end %>
                  <%= link_to user.friendship_request(current_user), method: :delete, class:"icon-text spaced has-text-danger" do %>
                    <span class="icon">
                      <i class="fas fa-user-minus" aria-hidden="true"></i>
                    </span>
                    <span>Decline request</span>
                  <% end %>
                <% elsif current_user.pending_friend_requests.include?(user) %>
                  <div class="icon-text spaced has-text-warning">
                    <span class="icon">
                      <i class="fas fa-user-clock" aria-hidden="true"></i>
                    </span>
                    <span>Friend request pending</span>
                  </div>
                <% else %>
                  <%= link_to friendships_path(friend_id: user), method: :post, class:"icon-text spaced has-text-primary" do %>
                    <span class="icon">
                      <i class="fas fa-user-plus" aria-hidden="true"></i>
                    </span>
                    <span>Add friend</span>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="panel-block">
              <span class="panel-icon">
                  <i class="fas fa-heart-broken" aria-hidden="true"></i>
                </span>
              No users found...
            </div>
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>