<div class="background <%= ["one", "two", "three", "four", "five"].sample %>">
  <section class="section">
    <div class="container">
      <div class="columns is-centered is-variable is-8">

        <div class="column is-6 vertical-center">
          <%= image_tag "white-logo.png", alt: "Together logo", class: "userpage-logo" %>
          <p class="is-size-5 white-text">Manage your account</p>
        </div>
        
        <div class="column is-4 vertical-center">
          <div class="user-card">
            <h2 class="title is-3">Trouble logging in?</h2>
            <p class="is-size-6 has-text-grey-dark">
              Enter your email and we'll send you a link to get back into your account.
            </p>
            <br>

            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>

              <div class="field">
                <div class="control">
                <%= f.input :email, required: true, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
                </div>
              </div>
              
              <%= f.button :submit, "Send reset password instructions", class:"button is-info" %>
              
            <% end %>
            <br />
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>