<div class="column is-half">
  <article class="media box">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= image_tag "blank-profile-picture.jpg", alt: "Blank profile picture", class:"is-rounded" %>
      </p>
    </figure>
    <div class="media-content">
      <%= render 'posts/form' %>
    </div>
  </article>

  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="box">
        <article class="media">

          <div class="media-left">
            <figure class="image is-48x48">
              <%= image_tag "blank-profile-picture.jpg", alt: "Blank profile picture", class:"is-rounded" %>
            </figure>
          </div>

          <div class="media-content">
            <div class="content">
              <strong><%= post.user.name %></strong>

              <p><small>
                <% if post.created_at > 1.day.ago %>
                  <%= time_ago_in_words(post.created_at) %> ago
                <% else %>
                  <%= post.created_at.strftime("%B %d at %H:%M %p") %>
                <% end %>
              </small></p>
            </div>
          </div>

          <% if current_user == post.user %>
            <nav class="level">
              <div class="level-right">
                <%= link_to edit_post_path(post) , class: "level-item" do %>
                  <span class="icon"><i class="fa fa-pencil-alt" aria-hidden="true"></i></span>
                <% end %>
                <%= link_to post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } do %>
                  <span class="icon"><i class="far fa-trash-alt" aria-hidden="true"></i></span>
                <% end %>
              </div>
            </nav>
          <% end %>
        </article>

        <p class="post-body"><%= truncate post.body, length: 164 %></p>

        <p class="post-info has-text-grey-dark"><small>
          <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'like' : 'likes'%> 
          <%= post.comments.count %> <%= (post.comments.count) == 1 ? 'comment' : 'comments'%>
        </p></small>
          
        <div class="tabs is-toggle is-fullwidth">
          <ul>
            <li>
              <a>
                <span class="icon"><i class="far fa-heart" aria-hidden="true"></i></span>
                <span>Like</span>
              </a>
            </li>
            <li>
              <%= link_to post do %>
                <span class="icon"><i class="far fa-comment" aria-hidden="true"></i></span>
                <span>Comment</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="box">
      Such empty... Make a post now from above or add more friends!
    </div>
  <% end %>
</div>