<div class="column is-half">
  <article class="media box">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= image_tag "blank-profile-picture.jpg", alt: "Blank profile picture", class:"is-rounded" %>
      </p>
    </figure>
    <div class="media-content">
      <%= render 'posts/form' %>
    </div>
  </article>

  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="box">
        <%= render 'posts/post_info', post: post %>
        <% if post.comments.any? %>
          <%= render 'comments/single_comment', post: post, comment: post.comments.where(parent_id: nil).last, index: true %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="box">
      Such empty... 😿 Make a post now from above or <%= link_to "add more friends!", users_path %>
    </div>
  <% end %>
</div>