<nav class="navbar is-primary">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item logo" do %>
      <%= image_tag "white-logo.png", alt: "Eventive logo" %>&nbsp;
    <% end %>
    <div class="navbar-burger" aria-label="menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <%= link_to current_user, class: "button is-primary" do %>
              <span class="image">
                <%= image_tag user_avatar(current_user), alt:"Profile picture", class:"is-rounded" %>
              </span>
              <span class="user-name"><%= current_user.name %></span>
            <% end %>
          </p>
          <p class="control">
            <% if current_user.incoming_friend_requests.any? %>
              <%= link_to users_path, class: "button is-warning" do %>
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span>Add friends</span>
              <% end %>
            <% else %>
              <%= link_to users_path, class: "button is-primary" do %>
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span>Add friends</span>
              <% end %>
            <% end %>
          </p>
          <p class="control">
            <%= link_to destroy_user_session_path, method: :delete, class: "button is-inverted" do %>
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>Logout</span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>